<div class="d-flex align-items-center mb-3">
    <input type="checkbox" class="me-2" [(ngModel)]="gameController.showTips">
    <span>
        Mostrar dicas
    </span>
</div>

<div class="card" *ngIf="!gameController.gameHasEnded">
    <div class="card-body">

        <div class="d-flex flex-md-column">

            <div class="form-group flex-fill" (keyup.enter)="submitChar()">
                <label>
                    Chute uma letra:
                </label>
                <input type="text" class="form-control" #tryCharInputDOMElement [formControl]="tryCharFormControl"
                    [class.is-invalid]="moreThanOneCharWasTyped || charWasAlreadyTried || charIsntAlphaChar || (tryCharformControlWasSubmitted
                        && charWasntInformed)">

                <div class="invalid-feedback">

                    <p *ngIf="moreThanOneCharWasTyped">
                        Ei, só uma letra! ;)
                    </p>
                    <p *ngIf="charWasAlreadyTried">
                        Você já tentou essa letra! kkk
                    </p>
                    <p *ngIf="charIsntAlphaChar">
                        Apenas letras sem acentos são permitidas.
                    </p>
                    <p *ngIf="tryCharformControlWasSubmitted && charWasntInformed">
                        Por favor, informe uma letra.
                    </p>

                </div>
            </div>

            <div class="d-flex justify-content-end mt-md-3">
                <button class="btn btn-primary px-md-5 ms-3 fw-bold" (click)="submitChar()">
                    chutar
                </button>
            </div>

        </div>

    </div>
</div>

<hr>

<div class="d-flex justify-content-end mt-3 mb-5">
    <button class="btn btn-outline-primary px-5 fw-bold" *ngIf="!gameController.gameHasEnded" (click)="openModal();">
        acho que eu sei a palavra!
    </button>

    <button class="btn btn-outline-danger px-5 fw-bold ms-3"
        (click)="gameController.restartGame(); tryCharInputDOMElement?.nativeElement.focus();">
        reiniciar
    </button>
</div>


<ng-template #tryWordModal>
    <div class="modal-header">
        <h2 class="mb-0 fw-bold">
            tentar palavra
        </h2>
        <button class="btn btn-outline-danger fw-bold" (click)="modalReference?.dismiss();">
            <span>
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body" (keyup.enter)="tryWord()" *ngIf="tryWordFormControl">
        <p class="text-danger mb-3">
            <strong>
                Atenção!
            </strong>
            Se você errar a palavra, o jogo acaba.
        </p>
        <div class="form-group mb-3">
            <label>
                palavra:
            </label>
            <input type="text" class="form-control" [formControl]="tryWordFormControl" #tryWordInputDOMElement
                [class.is-invalid]="tryWordFormControlWasSubmitted && tryWordFormControl.invalid">
            <div class="invalid-feedback">
                Palavra não informada.
            </div>
        </div>
        <p *ngIf="gameController.showTips">
            Dica:
            <strong>
                {{ secretWordController.secretWord.help }}
            </strong>
        </p>
    </div>
    <div class="modal-footer justify-content-between justify-content-md-end">
        <button class="btn btn-outline-secondary px-5 fw-bold" (click)="modalReference?.dismiss();">
            cancelar
        </button>
        <button class="btn btn-primary px-5 fw-bold" (click)="tryWord()">
            chutar
        </button>
    </div>
</ng-template>